Repository pinanek23/site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.yaml:

'*.{md,json,yaml}': prettier --write
'*.{ts,tsx,astro}': [prettier --write, eslint]

Added Logo
  src/components/header/logo.astro
Due: prettier --write, eslint

Added ThemeButton
  src/components/header/theme-button.module.scss
  src/components/header/theme-button.tsx
Due: prettier --write, eslint

Added Header
  src/components/header/header-item.astro
  src/components/header/header.astro
  src/components/header/menu-button.module.scss
  src/components/header/menu-button.tsx
  src/components/header/theme-button.tsx
  src/layouts/main-layout.astro
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_reset.scss
  src/styles/global.scss
Due: prettier --write, eslint

Added Post page
  .eslintignore
  astro.config.mjs
  data/posts/example.md
  data/posts/hello/default-logo.png
  data/posts/hello/index.md
  package.json
  pnpm-lock.yaml
  src/components/header/header.astro
  src/layouts/post-layout.astro
  src/pages/posts/[slug].astro
  src/styles/global.scss
  src/types/post.ts
Due: prettier --write, eslint

Update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update configs
  .eslintignore
  .lintstagedrc.yaml
Due: prettier --write

Fixed Header sticky
  src/layouts/main-layout.astro
Due: prettier --write, eslint

Update post content styles
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/layouts/post-layout.astro
  src/styles/abstracts/_variables.scss
Due: prettier --write, eslint

Preload fonts
  src/components/head/head-common.astro
Due: prettier --write, eslint

Added headings link
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/layouts/post-layout.astro
Due: prettier --write, eslint

Update Astro
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use `prettier-plugin-astro@next`
  .prettierrc.yaml
  package.json
  pnpm-lock.yaml
  src/components/head/head-common.astro
  src/components/head/head-seo.astro
  src/components/header/header-item.astro
  src/components/header/header.astro
  src/components/header/logo.astro
  src/layouts/main-layout.astro
  src/layouts/post-layout.astro
Due: prettier --write, eslint

Added TableOfContent component
  src/components/header/header.astro
  src/components/right-sidebar/table-of-content.module.scss
  src/components/right-sidebar/table-of-content.tsx
  src/layouts/post-layout.astro
  src/pages/posts/[slug].astro
  src/styles/global.scss
  src/types/post.ts
Due: prettier --write, eslint

Update Post page
  data/posts/example.md
  data/posts/hello/index.md
  src/components/post/category-item.astro
  src/components/post/post-header.astro
  src/components/post/table-of-content.module.scss
  src/components/post/table-of-content.tsx
  src/layouts/post-layout.astro
  src/pages/posts/[slug].astro
  src/styles/abstracts/_variables.scss
  src/utils/date.ts
Due: prettier --write, eslint

Update Post layout
  src/components/header/header.astro
  src/components/post/post-content.astro
  src/components/post/post-header.astro
  src/layouts/post-layout.astro
  src/styles/global.scss
Due: prettier --write, eslint

Added imagetools config
  astro-imagetools.config.mjs
Due: none

Refactor
  src/components/post/category-item.astro
  src/components/post/post-header.astro
  src/layouts/post-layout.astro
  src/pages/posts/[slug].astro
  src/types/post.ts
Due: prettier --write, eslint

Update deploy URL
  astro.config.mjs
Due: none

Use `@astrojs/sitemap`
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/pages/posts/[slug].astro
Due: prettier --write, eslint

Fixed wrong slug
  src/pages/posts/[slug].astro
Due: prettier --write, eslint

Added InfoBar and fixed some issues
  astro.config.mjs
  integrations/infobar-integration.mjs
  package.json
  pnpm-lock.yaml
  src/components/icons/check-icon.astro
  src/components/icons/dismiss-icon.astro
  src/components/icons/error-icon.astro
  src/components/icons/icon-base.astro
  src/components/icons/info-icon.astro
  src/components/post/category-item.astro
  src/components/post/post-content.astro
  src/components/prose/prose-info-bar.astro
  src/styles/abstracts/_variables.scss
Due: prettier --write, eslint

Improved SEO
  public/robots.txt
  src/components/head/head-seo.astro
  src/pages/robots.txt.ts
Due: prettier --write, eslint

Use Typescript in script tag
  src/components/head/head-common.astro
Due: prettier --write, eslint

Refactor (remove InfoBar for now 😢)
  astro.config.mjs
  integrations/infobar-integration.mjs
  pnpm-lock.yaml
  src/components/category-item.astro
  src/components/head/head-common.astro
  src/components/header/header-button.module.scss
  src/components/header/header-item.astro
  src/components/header/header.astro
  src/components/header/logo.astro
  src/components/header/menu-button.tsx
  src/components/header/theme-button.module.scss
  src/components/header/theme-button.tsx
  src/components/icons/check-icon.astro
  src/components/icons/dismiss-icon.astro
  src/components/icons/error-icon.astro
  src/components/icons/icon-base.astro
  src/components/icons/info-icon.astro
  src/components/post/post-content.astro
  src/components/post/post-header.astro
  src/components/post/table-of-contents.module.scss
  src/components/post/table-of-contents.tsx
  src/components/prose/prose-info-bar.astro
  src/layouts/base-layout.astro
  src/layouts/main-layout.astro
  src/layouts/post-layout.astro
  src/pages/index.astro
  src/pages/posts/[slug].astro
  src/styles/_colors.scss
  src/styles/_mixins.scss
  src/styles/_reset.scss
  src/styles/_tokens.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_typography.scss
  src/styles/global.scss
  src/styles/prose.scss
  src/styles/styles.scss
Due: prettier --write, eslint

Update Home page
  src/pages/index.astro
  src/styles/_tokens.scss
Due: prettier --write, eslint

Added RSS feed
  package.json
  pnpm-lock.yaml
  src/components/head/head-seo.astro
  src/components/header/header.astro
  src/components/icons/base-icon.astro
  src/components/icons/rss-icon.astro
  src/pages/robots.txt.ts
  src/pages/rss.xml.ts
  src/types/post.ts
Due: prettier --write, eslint

Update lock file
  pnpm-lock.yaml
Due: prettier --write

Update robots.txt
  src/pages/robots.txt.ts
Due: prettier --write, eslint

Update Table of Content
  src/components/post/table-of-contents.module.scss
  src/components/post/table-of-contents.tsx
  src/styles/_colors.scss
  src/styles/styles.scss
Due: prettier --write, eslint

Init
  .eslintignore
  .eslintrc.yaml
  .nvmrc
  astro-imagetools.config.mjs
  astro.config.mjs
  astro.config.ts
  data/posts/hello/default-logo.png
  data/posts/hello/index.md
  package.json
  pnpm-lock.yaml
  src/components/category-item.astro
  src/components/head/head-common.astro
  src/components/header/header-button.module.scss
  src/components/header/header-item.astro
  src/components/header/header.astro
  src/components/header/logo.astro
  src/components/header/menu-button.tsx
  src/components/header/theme-button.tsx
  src/components/icons/base-icon.astro
  src/components/icons/rss-icon.astro
  src/components/post/post-header.astro
  src/components/post/table-of-contents.module.scss
  src/components/post/table-of-contents.tsx
  src/layouts/base-layout.astro
  src/layouts/home-layout.astro
  src/layouts/post-layout.astro
  src/pages/index.astro
  src/pages/posts/[slug].astro
  src/pages/robots.txt.ts
  src/pages/rss.xml.ts
  src/styles/_color.scss
  src/styles/_colors.scss
  src/styles/_mixins.scss
  src/styles/_reset.scss
  src/styles/_tokens.scss
  src/styles/global.scss
  src/styles/prose.scss
  src/styles/styles.scss
  src/types/post.ts
  src/utils/date.ts
Due: prettier --write, eslint

Added Header
  package.json
  pnpm-lock.yaml
  src/components/header/header-button.module.scss
  src/components/header/header-item.astro
  src/components/header/header.astro
  src/components/header/logo.astro
  src/components/header/menu-button.tsx
  src/components/header/theme-button.tsx
  src/layouts/home-layout.astro
  src/styles/_classes.scss
  src/styles/_tokens.scss
  src/styles/global.scss
Due: prettier --write, eslint

Updated tsconfig.json
  tsconfig.json
Due: prettier --write
